body {
  background: #eee;
  font-family: sans-serif;
}

.mainTitle {
  /* font-size: 15px; */
  background: ;
}

.card {
  /* background: #da94a5; */
  padding: 10px;
  display: inline-block;
}

.recipeButton {
  border: 1px;
  border-color: bisque;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0px;
  background-color: #e7bcce;
}

.description {
  padding: 10px;
  background-color: antiquewhite;
}

.ingredients {
  padding: 10px;
  background-color: #94b3b8;
}

.steps {
  padding: 10px;
  background-color: #bce7ce;
}